In [3]:
def isVowel(ch): 
    if (ch != 'a' and ch != 'e' and 
        ch != 'i' and ch != 'o' and 
        ch != 'u'): 
        return False; 
    return True; 
def replaceConsonants(s): 
    for i in range(len(s)): 
        if (isVowel(s[i])==False): 
            if (s[i] == 'z'): 
                s[i] = 'b'; 
            else: 
                [i] = chr(ord(s[i]) + 1); 
                if (isVowel(s[i])==True): 
                    s[i] = chr(ord(s[i]) + 1); 
    return ''.join(s); 
s = "orange"; 
print(replaceConsonants(list(s)));

osaphe

### string functions
- upper -- will convert the input string into upper case
- lower -- will convert the input string into lower case

In [7]:
s1 = "python"
print(s1.upper())
print(s1.lower())

PYTHON
python

# string boolean functions
- true or false
- islower() -- true if the string have all characters lower case
- isupper() -- true if the string have all characters upper case
- istitle() -- true if the string in title case
- isnumeric() -- true if string contais all numbers
- isalpha() -- true if the string contains only alphabets
- isspace() -- true if the string is space

In [10]:
s1 = "python"
print(s1.isupper())
print(s1.islower())

False
True

In [15]:
s1 = "Pythonprogramming"
print(s1.istitle())

True

In [12]:
s1 = "123456"
s2 = "py123"
print(s1.isnumeric())
print(s1.isnumeric())

True
True

In [17]:
s1 = "py123456"
s2 = "python"
print(s1.isalpha())
print(s2.isalpha())

False
True

In [18]:
s1 = ' '
s2 = '1 2 3'
print(s1.isspace())
print(s2.isspace())

True
False

# string methods
- split() -- returns the list of strings repeated by white space
- replace() -- returns the string replaces by word/character
- join() -- concatination of two strings

In [23]:
s1 = "python programming learn made easy"
li = s1.split() # default is white space
print(li)

['python', 'programming', 'learn', 'made', 'easy']

In [20]:
s1 = "python programming learn made easy"
li = s1.split('a')
print(li)

['python progr', 'mming le', 'rn m', 'de e', 'sy']

In [21]:
s1 = "python programming learn made easy"
print(s1.replace(' ','_'))

python_programming_learn_made_easy

In [22]:
s1 = "python programming learn made easy"
print(s1.replace('a','@'))

python progr@mming le@rn m@de e@sy

In [24]:
s1 = "python"
print(" ".join(s1))

p y t h o n

# string formatting
- classic version
- current version python

In [28]:
# classic version ( c or c++)
li = ["python","programming"]
print('%s %s'%(li[0],li[1]))

python programming

In [29]:
li = [1,2,3,4]
print('%d %d %d %d' %(li[0],li[1],li[2],li[3]))

1 2 3 4

In [32]:
# format
li = ["python","programming"]
print("list item 0 : {0} \nlist item 1 : {1}".format(li[0],li[1]))

list item 0 : python
list item 1 : programming

In [33]:
li=[1,2,3,4]
print('{0} {1} {2} {3}'.format(li[0],li[1],li[2],li[3]))

1 2 3 4

# data structure
- lists
- tuples
- dictionaries

### dictionaries
- it wiorks on the concept of unique data
- key,value is the uniqye identifier a value
- each key is separated from value colon(:)
- each key and value separated by comma(:)
- dictionaries are enclosed with curly barces({})

In [36]:
d1 =  {"Name":"Gitam","Emailid":"gitamvizag@gmail.com","Address":"Vizag"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'gitamvizag@gmail.com', 'Address': 'Vizag'}

In [39]:
d1["Emailid"] # ACCESS THE SPECIFIC KEY VALUE

'gitamvizag@gmail.com'

In [45]:
d1["Emailid"] = "Gitam@hotmail.com" # update the value using key
d1

{'Name': 'Gitam',
 'Emailid': 'Gitam@hotmail.com',
 'Address': 'Vizag',
 'mailid': 'Gitam@hotmail.com'}

In [46]:
d1.keys()#all the keys of dict object

dict_keys(['Name', 'Emailid', 'Address', 'mailid'])

In [47]:
d1.values()

dict_values(['Gitam', 'Gitam@hotmail.com', 'Vizag', 'Gitam@hotmail.com'])

In [48]:
del d1["mailid"]

In [51]:
d1

{'Name': 'Gitam', 'Emailid': 'Gitam@hotmail.com', 'Address': 'Vizag'}

In [53]:
del d1

In [55]:
d1

NameError: name 'd1' is not defined

# contact application
- add a contact details
- search the contact details
- list all the contact(merge/import)
    - name 1 : value
    - name 2 : value
- modify the contacts
- delete the contact details

In [90]:
contact = {} # empty dict object
# lets create a function to add contact details
def addcontact(name,phone):
    if name not in contact: # cond to check nme is exist or not
        contact[name] = phone
        print('ccontact details are added successfuly')
    else:
        print('name is already exists')
    return
addcontact('charan','6302634470')
addcontact('rakesh',8179795396)
addcontact('charan','6302634470')

ccontact details are added successfuly
ccontact details are added successfuly
name is already exists

In [91]:
def searchContact(name):
    if name in contact:
        print(name,":",contact[name])
    else:
        print('%s does not preset' %name)
    return 
searchContact('charan')
searchContact('gitam')
searchContact('rakesh')

charan : 6302634470
gitam does not preset
rakesh : 8179795396

In [92]:
# import new contact details
# merge the previous details with new details
def importcontact(newcontact):
    contact.update(newcontact)
    print(len(newcontact.keys()),'contacts are added')
    return
newcontact = {'gitam':9988776655,'anil':6655443322,'python':3322554152}
importcontact(newcontact)
contact

3 contacts are added

{'charan': '6302634470',
 'rakesh': '8179795396',
 'gitam': 9988776655,
 'anil': 6655443322,
 'python': 3322554152}

In [93]:
def modifycontact(name,phone):
    if name in contact:
        contact[name] = phone
        print(name,'updated successflly')
    else:
        print(name,'not exists')
    return
modifycontact('hjbcdhc',3548766766)
modifycontact('gitam',6974567378)
contact

hjbcdhc not exists
gitam updated successflly

{'charan': '6302634470',
 'rakesh': '8179795396',
 'gitam': 6974567378,
 'anil': 6655443322,
 'python': 3322554152}

In [94]:
def deletecontact(name):
    if name in contact:
        del contact[name]
        print(name,'deleted successfully')
    else:
        print(name,'not present')
    return
deletecontact('python')
contact

python deleted successfully

{'charan': '6302634470',
 'rakesh': '8179795396',
 'gitam': 6974567378,
 'anil': 6655443322}

## tuples
- tuples enclosed with parenthesis

## difference between tuples and list
- list are mutable -- can be changed/modified
    - read and write the data
- tuples are immutable -- can;t be changed / modified
    - read data only

In [95]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [96]:
print(t1[1::-1])

(2, 1)

# standard libraries
- regular expression
    - to validate the indian mobile
    - to validate emailid
    - to validate username
    - to validate password
- understanding the regular expression
    - [0-9] -- any digit matching
    - [a-z] -- any lower case matching
    - [A-Z] -- any upper case matching
    - cap symbol is used to represent the start of regular expression
    - dollar symbol is used to represent the end of regular expression

In [98]:
# function to testtwo digit number as input
# true -- input two digit number
# false -- input not a two digit number
import re
def twodigitmatching(n):
    pattern = '^[0-9]{2}$'
    n = str(n)
    if re.match(pattern,n):
        return True
    return False
print(twodigitmatching(12))
print(twodigitmatching(123))

True
False

In [114]:
# regular expression for usernmame
# username -- should contail lower and upper case characters
# length -- min = 5 and max = 12
def validateusername(s):
    pattern = '^[a-zA-Z]{5,12}$'
    if re.match(pattern,s):
        return True
    return False
print(validateusername('AnilKumar'))
print(validateusername('Anil'))
print(validateusername('gitamvizagpythonprogramming'))

True
False
False

# regular expression
    - regulr expression for rollno
        - example:1521a0501 # VALID
        - EXAMPLE : 1621A0574 # NOT VALID
    - REGULAR EXPRESSION FOR PASSWord
        parameters - len min 6 max 10
        - accept lower case uppercase, digits and spl
        - example : pass123@21#valid
        - example: pass12*21# not valid

### regular expression for indian mobile number
- 10 idgit number
    - first number starts from [6-9]
    - rest of 9 numbers is between [0-9]
        - example : 6302634470 # valid
        - examole : 5468887668 # not valid
- 11 digit number
    - first number can be 0
    - second number can be [6-9]
    - rest of 9 numbers is betwen [0-9]
        - example : 09866886768
        - example : 99546744646
- 13 digit number
    - first number can be +
    - second number can be 9
    - third number can be 1
    - fourth number[6-9]
    - rest of numbers[0-9]
        - example : +919493446170
        - example : +915698746464

In [2]:
# rule 1 : ^[6-9][0-9]{9}$
# rule 2 : ^[0][6-9][0-9]{9}$
# rule 3 : ^[+][9][1][6-9][0-9]{9}$

In [17]:
import re
def validateindianphone(n):
    pattern = '^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    n = str(n)
    if re.match(pattern,n):
        return True
    return False
validateindianphone('+916302634470')

True

### validate the emailid
- example : username@domainname .extension
- example : dsps@gmail.com
- username :
    - len of string will be [6-15]
    - no spl character except underscore(_) and dot(.)
    - username should no begins with underscore(_)
    - all characters set digits, characters set ad upper case
        - example : Anil_1889
- DomainName:
    - len of string will be [3-18]
    - no spls characters
    - character set will be digits , and upper case
- Extension:
     - len of string will be [2-4]
     - no spls characters
     - characters set will be lower case characters

In [20]:
# username re: ^[0-9a-zA-Z][0-9a-zA-Z_.]{5,20}$
# domainname : ^[a-z0-9]{3,18}$
# extension re : ^[a-z]{2,4}$
# emailid re : ^[0-9a-zA-Z][0-9a-zA-Z_.]{5,20}[@][a-z0-9]{3,18}[.][a-z]{2,4}$

In [19]:
def validateemail(email):
    pattern = '^[0-9a-zA-Z][0-9a-zA-Z_.]{5,25}[@][a-z0-9]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,email):
        return True
    return False
print(validateemail('manipuppala55@gmail.com'))
print(validateemail('anilkumar1889@hotmail.com'))

True
True

### python graphics
- lib - turtle

### package, module and sub package

### package
    - a collection of modules(single python file)

In [22]:
import math
math.floor(123.456)

123

In [23]:
math.ceil(123.456)

124

In [24]:
from math import factorial as fact
fact(10)

3628800

In [25]:
from math import gcd as gcd
gcd(10,15)

5

In [31]:
# import random package
import random
# function to generate the n numbers in given range
def generaterandomnum(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=' ')
    return
generaterandomnum(4,0,9)

0 0 2 2

In [527]:
# create a simple game
# try to generate 20 numbers
# input : numbers
# present : congrats!!!
# not present : try again
from random import randint as rdint
def generatenum(n,lb,ub):
    li = []
    for i in range(0,n):
        li.append(rdint(lb,ub))
    return li
def check(n):
    li = generatenum(20,100,999)
    if n in li:
        print('congrats!!!')
    else:
        print('try again')
    return
check(569)

try again

In [ ]:

import turtle as tt
a1 = tt.Turtle()
a1.backward(100000)
tt.done